<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhzl.server">

    <permission
        android:name="com.jhzl.server.read"
        android:protectionLevel="normal" />
    <permission
        android:name="com.jhzl.server.write"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="服务端"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android4ComponentThread">
        <service
            android:name=".service.LoginService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jhzl.server" />
            </intent-filter>
        </service>
        <service android:name=".service.MessengerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jhzl.messenger" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.TestProvider"
            android:authorities="com.jhzl.server.contentprovider.TestProvider"
            android:exported="true"
            android:permission="com.jhzl.server"
            android:readPermission="com.jhzl.server.read"
            android:writePermission="com.jhzl.server.write" />
    </application>

</manifest>